 body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
 }
 #OrderId {
     position: fixed;
     top:20px;
     right: 50px;
     font-size :32px;
     color: red;
 }
 .inputs {
       margin-bottom: 20px;
 }

 img {
      height: 250px;
      width: 250px;
      margin-top: 20px;
      border-radius: 5px;
      display: none;

 }